@using System.Runtime.InteropServices.JavaScript
@model Order

@{
    ViewData["Title"] = "Checkout Confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Congrats! You are almost there. We need a few more details to complete your purchase.</h2>

<form asp-action="CheckoutConfirmation" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
    <input type="hidden" asp-for="DayOfWeek" value="@DateTime.Today.ToString("ddd")"/>
    <input type="hidden" asp-for="Time" value="@DateTime.Now.Hour"/>
    <input type="hidden" asp-for="EntryMode" value="CVC" />
    <input type="hidden" asp-for="TypeOfTransaction" value="Online" />
    <input type="hidden" asp-for="Amount" value="@Model.Amount" />
    <p>Amount: @Model.Amount</p>
    <div class="form-group">
        <label asp-for="CountryOfTransaction"></label>
        <input asp-for="CountryOfTransaction" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ShippingAddress"></label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Bank"></label>
        <input asp-for="Bank" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TypeOfCard"></label>
        <input asp-for="TypeOfCard" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>