@{
    ViewData["Title"] = "Order Pending";
}
@model Order
<h1>@ViewData["Title"]</h1>

<p>Your is now pending. We need to review some things and we will let you know when it is approved.</p>

<div>
    <h2>Order Details:</h2>
    <p>Transaction ID: @Model.TransactionId</p>
    <p>Customer ID: @Model.CustomerId</p>
    <p>Date: @Model.Date</p>
    <p>Amount: @Model.Amount</p>
    <p>Type of Transaction: @Model.TypeOfTransaction</p>
    <p>Shipping Address: @Model.ShippingAddress</p>
</div>