@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model intex2.Models.ViewModels.ProductsListViewModel
@{
    ViewData["Title"] = "Products";
}

@{
var selected5 = Model.PaginationInfo.ItemsPerPage == 5 ? "selected" : "";
var selected10 = Model.PaginationInfo.ItemsPerPage == 10 ? "selected" : "";
var selected20 = Model.PaginationInfo.ItemsPerPage == 20 ? "selected" : "";
}

<h1>All Products</h1>

<div class="row">
    <!-- Filter Column -->
    <div class="col-md-3">
        <h5>Product Type</h5>
        <div class="form-check">
            <input class="form-check-input product-type"  type="checkbox" value="star wars" id="star wars">
            <label class="form-check-label" for="starWars">STAR WARS</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type"  type="checkbox" value="harry potter" id="harry potter">
            <label class="form-check-label" for="starWars">HARRY POTTER</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" onchange="filter()" type="checkbox" value="dc" id="dc">
            <label class="form-check-label" for="dc">DC</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="disney" id="disney">
            <label class="form-check-label" for="game">DISNEY</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="vehicle" id="vehicle">
            <label class="form-check-label" for="vehicle">VEHICLE</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="personal" id="personal">
            <label class="form-check-label" for="personal">PERSONAL</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="game" id="game">
            <label class="form-check-label" for="game">GAME</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="minifig" id="minifig">
            <label class="form-check-label" for="game">MINIFIG</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="food" id="food">
            <label class="form-check-label" for="game">FOOD</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="flight" id="flight">
            <label class="form-check-label" for="game">FLIGHT</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="colorful" id="colorful">
            <label class="form-check-label" for="game">COLORFUL</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="part" id="part">
            <label class="form-check-label" for="part">PART</label>
        </div>
        <div class="form-check">
            <input class="form-check-input product-type" type="checkbox" value="structure" id="structure">
            <label class="form-check-label" for="game">STRUCTURE</label>
        </div>

        <h5 class="mt-4">Color</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="colors" value="black" id="black">
            <label class="form-check-label" for="black">BLACK</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="colors" value="blue" id="blue">
            <label class="form-check-label" for="blue">BLUE</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="colors" value="brown" id="brown">
            <label class="form-check-label" for="brown">BROWN</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="colors" value="red" id="red">
            <label class="form-check-label" for="red">RED</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="colors" value="grey" id="grey">
            <label class="form-check-label" for="grey">GREY</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="colors" value="white" id="white">
            <label class="form-check-label" for="white">WHITE</label>
        </div>
    </div>

    <!-- Products Column -->
    <div class="col-md-9" id="products-section">
        <div class="row">
            @foreach (Product p in Model.Products)
            {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
                <partial name="ProductSummary" model="p"/>
            </div>
            }
        </div>
    </div>
</div>


<div style="display: flex; justify-content: center; gap: 20px; align-items: center;">
    <form id="pageSizeForm" onsubmit="return updatePageSizeAction(this);">
        <select name="pageSize" onchange="this.form.submit();">         
            @if (Model.PaginationInfo.ItemsPerPage == 5)
            {
                <option value="5" selected>5</option>
            }
            else
            {
                <option value="5">5</option>
            }

            @if (Model.PaginationInfo.ItemsPerPage == 10)
            {
                <option value="10" selected>10</option>
            }
            else
            {
                <option value="10">10</option>
            }

            @if (Model.PaginationInfo.ItemsPerPage == 20)
            {
                <option value="20" selected>20</option>
            }
            else
            {
                <option value="20">20</option>
            }
        </select>
        
        @foreach (var productType in Model.ProductTypes)
        {
            <input type="hidden" name="productTypes" value="@productType" id="@productType" />
        }
        @foreach (var color in Model.Colors)
        {
            <input type="hidden" name="colors" value="@color" id="@color"/>
        }
    </form>




    <div style="display: flex; justify-content: center;">
        <div page-model="@Model.PaginationInfo" page-action="Shop" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
             page-url-projectType="@Model.CurrentProductType" class="btn-group pull-right m-1"
             style="display: inline-block;">
        </div>
    </div>
</div>